{% extends 'layout.html' %}
{% block body %}
<div id = "intro"class="">
  You can promote with your existing Instagram account Instantly on our Magical Screens <br>
  Anybody can do it <br>
  No Agency Required <br>
  No Credit Card required <br>
  No hidden fees <br>
  <br>
  And it's just 1 button. <br>
  This button, right here!<br>


  <button type = "button" id = "instagram-button" class="btn"> <a href="#">Instagram Authentication</a></button>
  Yes that one!

  <img class = "img-fluid" src="{{url_for('static',filename='media/carjumbo.png')}}" alt=""> </img>

{% endblock %}
