{% extends 'layout.html' %}
{% block body %}
<div style ="margin-top:2vh" class = "container">
  Your Instagram just played in
  <h3>
   {% if campaign.last_city==None %}
   Los Angeles
   {% else %}
   {{campaign.last_city}}
   {% endif %}
  </h3>
  <div class="container">
   <iframe id="ig-frame"src="https://9ol.es/ad-new/?user={{campaign.ig_username}}"height="100vh"> </iframe>
  </div>
   <div id="setting-div">
   <hr size=2>
   <h4> Settings </h4>
   <form action="" method="POST">
    {{ settings.hidden_tag() }}
    <div class="form-group">
     <div class="font-weight-bold"> Ownership</div>
     <div class ="questions" data-toggle="buttons">
      {%for field in settings.control_content%}
      <label class = "btn btn-outline-primary 
      {%if campaign.sett_control_content == field.data%}
       active
      {%endif%}
      ">{{field.label}} {{field}}</label>
      <br>
      {%endfor%}
     </div>
    </div>
    <div class="form-group">
     <div class="font-weight-bold">Type of account</div>
     <div class ="questions" data-toggle="buttons">
     {%for field in settings.business%}
      <label class = "btn btn-outline-primary
      {%if campaign.sett_business == field.data%}
       active
      {%endif%}
      ">{{field.label}} {{field}}</label>
      <br>
     {%endfor%}
     </div>
    </div>
    <hr size=2>
    <div class="form-group">
     <h4> Your next step!</h4>
     <div class="font-weight-bold">What's most important to you?</div>
     <div class ="questions" data-toggle="buttons">
     {%for field in settings.social%}
      <label class = "btn btn-outline-primary
      {%if campaign.sett_social == field.data%}
       active
      {%endif%}">{{field.label}} {{field}}</label>
      <br>
     {%endfor%}
     </div>
    </div>
    <section class="text-center">
    {{settings.submit(class="btn btn-outline-info")}}
    </section>
   </form>
   <br>
 </div>
</div>
{% endblock %}
