{% extends 'layout.html' %}
{% block body %}
  <div id=bg>
   <img id=bg-cover src={{url_for('static',filename='media/instaback.jpg')}}>
    <div id=fg>
     <h5 id=hero>Instantly promote yourself IRL through your instagram</h5>
     <div id = "main"class="container">
      <p>
      All you need to do is just type in your insta, we'll put up your most recent 6 posts.
      </p>
      <form class='form' method="post" action="">
       {{ form.hidden_tag() }}
        <div class="form-group">
         <input class="form-control form-control-md" id="username" name="username" required="" placeholder="@username" type="text" value="">
        </div>
        <div class="text-center">
         {{form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
      </div>
    </div>
    <div id=footer>
      <h5> This experiment ends August 31 2019. </h5> 
    </div>
 </div>
{% endblock %}
