{% extends 'layout.html' %}
{% block body %}
<div id = "intro"class="">
  You can promote with your existing Instagram account Instantly on our Magical Screens <br>
  Anybody can do it <br>
  No Agency Required <br>
  No Credit Card required <br>
  No hidden fees <br>
  <br>
  And it's just 1 button. <br>
  This button, right here!<br>


  <form method="get"><button type = "button" id = "instagram-button" class="btn"> <a href="https://api.instagram.com/oauth/authorize/?client_id=2061511199cc4006b94a78f1f9324c99&redirect_uri=https://preview.waivescreen.com/callback/&response_type=code">Instagram Authentication</a></button></form>
  Yes that one!

  <img class = "img-fluid" src="{{url_for('static',filename='media/carjumbo.png')}}" alt=""> </img>

{% endblock %}
