{% extends 'layout.html' %}
{% block body %}
<div class="">
  <div style = "background-image:url({{url_for('static',filename='media/carjumbo.png')}});"class="jumbotron jumbotron-fluid">
    <div class="container text-white">
     <h1>WaiveScreen Advertising</h1>
     <h3>Open to the public</h3>
     <p class="lead">
       Starting at <b>$1.00</b>
    </div>
  </div>
  <div class="container bg-white">
    {% if current_user.is_authenticated %}
      Start a new campaign
    {% else %}
      Register for an account today and start promoting yourself!
    {% endif %}
  </div>
</div>

{% endblock %}
