{% extends 'layout.html' %}
{% block body %}
<div class="">
  You can promote with your existing Instagram account Instantly on our Magical Screens
  Anybody can do it
  No Agency Required
  No Credit Card required
  No hidden fees

  And it's just 1 button.
  This button, right here!

  
  <button></button>
  Yes that one!


  <div style = "background-image:url({{url_for('static',filename='media/carjumbo.png')}});"class="jumbotron jumbotron-fluid">
    <div class="container text-white">
  </div>
</div>

{% endblock %}
